p {
    color: #ffffff;
    font-size: 3ems;
    background-color: royalblue;
}
figure {
    text-align: center;
}

body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3d/Code-1076536.jpg);
}
